<div>
    <div [ngClass]="this.state.isCurrentOpen() ? 'p-3 text-white z-20 right-0 top-0 absolute' : 'hidden'">
        @if (!this.state.isCurrentOpen()) {
            <fa-icon
                class="text-3xl p-1"
                [icon]="faCaretDown"
                (click)="this.state.handleOpenCurrentSong()"
            />
        } @else {
            <fa-icon
                class="text-3xl p-1"
                [icon]="faCaretUp"
                (click)="this.state.handleOpenCurrentSong()"
            />
        }
    </div>
    <div *ngIf="this.state.isCurrentOpen() && this.state._currentSong()" class="flex flex-col gap-4 items-center justify-center bg-black w-full h-screen fixed top-0">
        <div class="text-8xl text-white border rounded-xl border-stone-400 p-20">
            <fa-icon [icon]="faMusic" />
        </div>
        <div class="flex flex-col gap-1 justify-center items-center">
            <p class="text-md text-gray-400">
                {{ this.state._currentSong()?.title }}
            </p>
            <p *ngIf="this.state._currentSong()?.tags" class="text-stone-600 text-xs">
                {{ this.state._currentSong()?.tags?.artist }}
            </p>
        </div>

        <div class="w-full flex flex-col px-8 gap-4">
            <app-progress-bar
            class=""
            [progress]="this.state.progress()"
            />
            <div class="flex flex-row px-4 items-center justify-between text-white text-2xl">
                <fa-icon class="text-stone-600" [icon]="faShuffle" />
                <fa-icon [icon]="faStepBackward" (click)="this.state.handlePrevious()" />
                <div class="text-4xl">
                    @if (!this.state.isPlaying()) {
                        <fa-icon [icon]="faPlay" (click)="this.state.handlePlayPause()" />
                    } @else {
                        <fa-icon [icon]="faPause" (click)="this.state.handlePlayPause()" />
                    }
                </div>
                <fa-icon [icon]="faStepForward" (click)="this.state.handleNext()" />
                <fa-icon [icon]="faBars" />
            </div>
        </div>
    </div>
</div>