<div *ngIf="!this.state.isCurrentOpen()" class="min-h-screen overflow-x-hidden overflow-y-scroll text-nowrap bg-black">
    @for (song of this.state.songsFiltered(); track $index) {
        <div
            [ngClass]="(song.id == this.state._currentSong()?.id) ? 'bg-stone-950' : ''"
            class="flex flex-col gap-1 p-3 border-b border-stone-800 last:border-0"
            (click)="handleSongSelect(song)"
        >
            <p class="text-white">
                {{ song.title }}
            </p>
            <p *ngIf="song.tags" class="text-stone-600 text-xs">
                {{ song.tags.artist }}
            </p>
        </div>
    }
</div>